/* test comment */

.is-white {
    background-color: rgba(256, 256, 256, 0.8) !important;
}

.header_video-wrapper {
    mask: url(https://cdn.prod.website-files.com/6746fd833eeceb77c17d0c5d/67653aedcd2dd6bb843d036e_birdie.svg);
    mask-size: 1000px 1000px;
    mask-position: center -300px;
    mask-repeat: no-repeat;
}

.header-inner_video-wrapper {
    mask: url(https://cdn.prod.website-files.com/6746fd833eeceb77c17d0c5d/67653aedcd2dd6bb843d036e_birdie.svg);
    mask-size: 1000px 1000px;
    mask-position: center -300px;
    mask-repeat: no-repeat;
}

.header-inner_button-group,
.header-home_header,
.header-inner_header,
.header3d_heading,
.header3d_text,
.header3d_button-group {
    transform: translateY(10px);
    opacity: 0;
}

/* 
https://codyhouse.co/nuggets/css-gradient-borders#:%7E:text=How%20to%20create%20gradient%20borders%20in%20CSS.%20To,linear-gradient%20%28to%20right%2C%20darkblue%2C%20darkorchid%29%201%20%3B%20%7D
.btn-gradient-2 {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

https://www.geeksforgeeks.org/gradient-borders/

.promoListParallax:nth-of-type(odd) .promo {
    -webkit-mask: url(data:image/png;base64,...;
    mask: url(data:image/png;base64,...;
    -webkit-mask-size: 1846px 3200px;
    mask-size: 1846px 3200px;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-position: top center;
    mask-position: top center;
} */
